*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

#canvas1{
    outline: 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 110%;
    max-width: 110%;
    font-family: 'Creepster', cursive;
    font-family: 'Staatliches', cursive;

}

#landingPage{
    display:none;
    outline: 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 110%;
    max-width: 110%;
}

#player, #layer1, #layer2, #layer3, #layer4, #layer5, #enemyFly, #enemyPlant, #enemyBigSpider, #fire, #collision, #lives{
    display: none;
}